<!--- TODO: Implement sidebar (this is just a placeholder) -->

<div id="sidebar">
<h3>Topics</h3>
<ul>
  <li>Futurism</li>
  <li>Privacy</li>
  <li>Security</li>
  <li>Technology</li>
</ul>

<h3>Connecting with JRJ</h3>
<p>
  [ ] [ ] [ ] [ ] [ ]
</p>

<h3>Search</h3>

<h3 class="tagCloud">Tag Cloud</h3>

<p style="font-size: 9pt;" class="tagCloud">
  1Password Adobe AI antivirus Apple Apple TV Artificial Intelligence Augmented Reality authentication Backup Bandwidth biometric bluetooth Development economics Facebook Ford Gold Google google glass hacking Humor Hybrid Investing iOS iPad IPhone Kindle Mac OS Mc Donalds microsoft Milestones Movies online poker Open Source poker privacy reviews security SmartPhones Tablet Twitter unboxed video Windows
</p>

<h3>Archives</h3>
 </div>